.message {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 10px;
  width: 100%;
}

.message_active {

}

.message__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.message__text {
  color: #fff;
}

.message__text_deleted {
  font-style: italic;
  color: inherit;
}

.message__nickname {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message__content {
  width: 100%;
  overflow: hidden;
}
