.button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.button_circle-red {
  background-color: #ec5e5d;
  border-radius: 50%;
}

.button_rectangle-gray {
  display: block;
  background-color: #4e4e4e;
  padding: 10px;
  border-radius: 5px;
}