.participants {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 40px;
  padding-bottom: 10px;
}

.participants__item {
  border-radius: 10px;
  overflow: hidden;
}
